.btn {
  border-color: white;
  background-color: rebeccapurple;
  border-radius: 5px;
  color: lavenderblush;
}

body {
  background: rgb(117, 0, 145);
  background: radial-gradient(
    circle,
    rgba(117, 0, 145, 1) 0%,
    rgba(118, 0, 255, 1) 79%,
    rgba(51, 0, 255, 1) 98%
  );
  color: ghostwhite;
}
